@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}

@media (max-width: 1440px) {
  .video-content {
    top: 55.5%;
  }

  .projects-block {
    padding: 80px 0 50px 0;
  }
}

@media (max-width: 1360px) {
  html {
    font-size: 60%;
  }
  .video-content {
    top: 56%;
  }
}

@media (max-width: 1200px) {
  
  .gallery-grid-block,
  .gallery-grid-block.default-creative-grid,
  .gallery-masonry-block {
    padding: 0 10px;
  }

  .gallery-masonry-item {
    padding: 0 10px 16px;
  }

 
}

@media (max-width: 1024px) {
  .gallery-masonry-item {
    padding: 0 10px 20px;
  }


}

@media (max-width: 768px) {
  .column {
    float: none;
    max-width: 50%;
  }

  .row {
    margin-left: 0;
    margin-right: 0;
  }

 

  .gallery-grid-block,
  .gallery-masonry-block {
    padding: 0;
  }

  .gallery-grid-item {
    padding: 10px 10px 10px 10px;
  }

 
}

@media (max-width: 767px) {
  .column-1 {
    width: 100%;
  }

  .column-2 {
    width: 100%;
  }

  .column-3 {
    width: 100%;
  }

  .column-2of3 {
    width: 100%;
  }

  .column-4 {
    width: 50%;
  }

  .column-5 {
    width: 100%;
  }

  .video-title h1 {
    font-size: 5rem;
    line-height: 1.4em;
  }

  .style-1,
  .style-2 {
    font-size: 13px;
    line-height: 1.2em;
    padding: 16px 30px;
  }

 

  .gallery-grid-item-wrap .gallery-grid-item {
    width: calc(100% / 3);
  }

  

  .gallery-grid-item-wrap .gallery-grid-item {
    width: 100%;
  }

 
}

@media (max-width: 550px) {
  
}

@media (max-width: 480px) {
  

}

@media (max-width: 375px) {
  
}

@media (max-width: 320px) {
}
